.footer {
  display: flex;
  font-size: 28px;
  background-color: $dark-blue;
  font: var(--font-light);
  color: white;
  justify-content: center;
  padding: 30px;

  @media (min-width:$phone) {
    padding-left: 100px;
  }

  @media (min-width:$tablet) {
    padding-left: 250px;
  }
}