.footer {
  background-color: $dark-blue;
  color: white;
  display: flex;
  font: var(--font-light);
  justify-content: center;
  padding: 30px;

  @media (min-width:$phone) {
    font-size: 14px;
  }

  @media (min-width:$tablet) {
    font-size: 18px;
    }
}

