.header {
  display: flex;
  background-color: var(--dark-blue);
  font: var(--font-light);
  height: 100%;
  width: 100%;
  padding: 5px 50px;
  padding-right: 50px;
  padding-left: 50px;

  @media (max-width:$desktop) {
    padding-right: 90px;
    padding-left: 90px;
  }

  @media (min-width: $laptop) {

  }

  @media (min-width: $tablet) {
    
  }

  @media (min-width:$phone) {
    padding-right: 30px;
    padding-left: 30px;
  }
}