.navBar{
  display: flexbox;
  align-items: flex-start;
}

.topLinks{
  color: white;
  flex-direction: row;

  @media (min-width:$phone) {
    font-size: 12px;
    padding: 0px;
    padding-top: 25px;
  }

  @media (min-width:$tablet){
    // width: 275px;
    // font-size: 16px;
  }

  // @media (min-width:$laptop){
  //   font-size: 20px;
  //   color: white;
  //   text-align: right;
  //   width: calc(100% - 65px);
  //   margin: 14px 0 0;
  //   padding: 0;
  //   float: right;
  // }

  li {
    display: inline-block;

    @media (min-width:$phone) {
      margin: 0;
      padding: 0.4em;
    }
  }
}


.headerLogo{
  display: block;

  @media (min-width:$phone) {
    width: 50px;
    padding: 15px;

  }

  @media (min-width:$tablet) {
    // width: 60px
  }

  @media (min-width:$laptop){
    // display: block;
    // height: auto;
    // width: 50px;
    // float: left;
  }
  
}