.parksPic {
  display: flex;
  flex-direction: column;
  margin: 0 auto;


  @media (min-width:$phone){
    padding-bottom: 50px;
  }

  @media (min-width:$tablet){
    width: 600px;
  }

  @media (min-width:$laptop){
    width: 1350px;
  }
}

.h2 {
  text-align: center;
  font: bold;
  color: var(--dark-blue);

 @media (min-width:$phone){
   font-size: 18px;
 }

 @media (min-width:$tablet){
  font-size: 24px;
}

@media (min-width:$laptop){
  font-size: 32px;
}

}

.content{
  align-items: center;
}

.content-info{
  column-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  // @media (min-width:$phone){
  //   column-gap: 20px;
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  // }
}

.content-info img{
  border-radius: 15px;
  border: 4px solid #3882f6;
  float: right;
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.content-text {
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  @media (min-width:$phone){
    padding: 0.5em;
  }
}