.quoteBox {
  display: flex;
  background-color: #E5E7EB;
  flex-direction: column;
  
  @media (min-width:$phone){
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  @media (min-width:$laptop){
    padding: 75px;
  }
}

.quote{
  font-family: #1F2937;
  font-style: italic;
  max-width: 892px;

  @media (min-width:$phone) {
    font-size: 32px;
  }

  @media (min-width:$tablet) {
    font-size: 36px;
  }

  @media (min-width:$laptop) {
    font-size: 38px;
  }
}

.speaker{
  font-weight: bold;
  font-family: #1F2937;

  @media (min-width:$phone){
    padding-top: 0px;
    padding-left: 150px;
    font-size: 22px;
   }

   @media (min-width:$tablet){
    padding-left: 0px;
    padding-right: 50px;
    float: right;
    font-size: 26px;
   }

   @media (min-width: $laptop){
     font-size: 28px;
   }
}