.sign-up-box{
  background-color: #3882f6;
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
  padding: 40px 80px;

  @media (min-width:$phone){
    margin: 50px;
  }

  .sign-up__inner {

    @media (min-width:$phone) {
      flex-direction: column;
    }
    
    @media (min-width:$tablet) {
      flex-direction: row;
      margin: 0 auto;
    }
  }
}

.action-text{
  color: white;

  @media (min-width:$phone){
    font-size: 28px;
    text-align: center;
  }

  @media (min-width:$tablet){
    float: left;
    font-size: 28px;
  }

  @media (min-width:$laptop){
    text-align: left;
  }

  }

   p{
  margin-top: 0px;

  @media (min-width:$phone) {
    font-size: 18px;
    padding-top: 10px;
  }

  @media (min-width:$tablet) {
    width: 350px;
  }

  @media (min-width:$laptop) {
    width: 600px;
  }
  
}

.action-text-button{
  border-radius: 8px;
  border-style: solid;
  border-width: 3px;
  color: white;
  display: block;
  font-family: 'Roboto', arial;
  font-weight: bold;
  padding: 10px;
  width: fit-content;

  @media (min-width:$phone){
    margin-left: 30px;
    margin: 0 auto;
  }

  @media (min-width:$tablet) {
    margin-left: 400px;
    white-space: nowrap;
  }

  @media (min-width:$laptop) {
    margin-left: 800px;
  }
}  