.sign-up-box{
  background-color: #3882f6;
  margin: 50px;
  padding: 40px 80px;
  display: flex;
  border-radius: 5px;

  @media (min-width:$laptop){
    margin: 80px 300px 80px 300px;
  }

  .sign-up__inner {

    @media (min-width:$phone) {
      flex-direction: column;
    }
    
    @media (min-width:$tablet) {
      margin: 0 auto;
      flex-direction: row;
    }

  }

  
}

.action-text{
  color: white;

  @media (min-width:$phone){
    font-size: 28px;
    text-align: center;
  }

  @media (min-width:$tablet){
    font-size: 28px;
    float: left;
  }

  }

   p{
  margin-top: 0px;

  @media (min-width:$phone) {
    font-size: 18px;
    padding-top: 10px;
  }

  @media (min-width:$tablet) {
    width: 350px;
  }

  @media (min-width:$laptop) {
    width: 600px;
  }
  
}

.action-text-button{
  display: block;
  width: 110px;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  background: #3882f6;
  padding: 10px;
  border-radius: 8px;
  color: white;
  font-family: 'Roboto', arial;
  font-weight: bold;
  margin-left: 50%;
  white-space: nowrap;
  width: fit-content;
  position: relative;
  top: 20%;

  @media (min-width:$phone){
    margin-left: 30px;
    margin: 0 auto;
  }

  @media (min-width:$tablet) {
    margin-left: 400px;
  }

  @media (min-width:$laptop) {
    margin-left: 800px;
  }
}  